<h1>Amazon Products (<%= @products.length %>)!!! </h1>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path({id: product.id}) %> || $<%= number_to_currency(product.price) %> <hr> </li>
  <% end %>
</ul>
