<li id = "<%= dom_id(review) %>">
  <%= review.body %>
  <%= link_to "Delete", product_review_path(@product, review),
                        method: :delete,
                        remote: true,
                        data: { confirm: "Are you sure?!" } %>
</li>
